<?xml version="1.0"?>
<robot name="dummy_hand">

  <link name="base_link">
    <visual>
      <geometry>
        <box size="0.1 0.2 0.3" />
      </geometry>
      <material name="red">
        <color rgba="1.0 0.0 0.0 1.0" />
      </material>
    </visual>
    <collision>
      <geometry>
        <box size="0.1 0.2 0.3" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.1" />
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001" />
    </inertial>
  </link>

  <gazebo reference="base_link">
      <material>Gazebo/Red</material>
      <gravity>true</gravity>
  </gazebo>

</robot>
